<div class="modal fade" id="goto" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="db_com goto_div modal-com">
                <div class="modal-header db_com">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
    
                        </button>
                    <h4 class="modal-title" id="myModalLabel">Direct Navigation</h4>

                </div>
                <div class="modal-body db_com">
                    <div class="row">
                        <div class="db_com gtpage">
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                <h4>Go To Page# :</h4>
                            </div>
                            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-9">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="usr">
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3">
                                <button type="button" class="go_btn">GO!</button>
                            </div>
                        </div>
                        <div class="db_com gtpage">
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                <h4>Go To File Name :</h4>
                            </div>
                            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-9">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="usr">
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3">
                                <button type="button" class="go_btn">GO!</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="modal-footer db_com">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div> -->
            </div>
        </div>
    </div>
</div>