    <!-- ================== DELETE ASSETS Modal Popup =================== -->
    <div class="modal fade" id="fs_dele" tabindex="-1" role="dialog" aria-labelledby="delelabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="db_com deletool_div modal-com">
                    <div class="modal-header db_com">
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span>
                            <span class="sr-only">Close</span>
                        </button>
                        <h4 class="modal-title" id="delelabel">Delete Assets
                        </h4>
                    </div>
                    <div class="modal-body db_com">
                        <div class="row">
                            <div class="db_com deletool-cont">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <h5>Are you sure want to delete asset ?</h5>
                                </div>
                                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                                    <h5>Please Type 'DELETE' to initiate this process:</h5>
                                </div>
                                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                    <div class="form-group">
                                        <input type="text" class="form-control">
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer db_com">
                        <button type="button" class="btn btn-default">Confirm</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>