
    <div class="form-group customfilter-selectbox-container">
      <select id="filtered_data" class="selectpicker show-tick form-control filter_data" data-live-search="true">

        <optgroup label="Select a Filter">
          <option value="viewproject.html">Show All</option>
          <!-- <option value="javascript:void(0)">Locked Approved</option> -->
        </optgroup>
        <optgroup label="Album List">
          
              <!-- <option  value=""> {{albumList |json }} </option> -->
            <!-- <option *ngFor="let album of albumList" value="">{{album.name}}</option> -->
                    <!-- <option value="javascript:void(0)"> Shivaji </option>
          <option value="javascript:void(0)"> Kevin</option> -->
        </optgroup>
        <optgroup label="General">
          <option value="javascript:void(0)">Approved</option>
          <option value="javascript:void(0)">Rejected</option>
          <option value="javascript:void(0)">Solo</option>
          <option value="javascript:void(0)">Group</option>
          <option value="javascript:void(0)">Retouch Comment</option>
          <option value="javascript:void(0)"> Image notes</option>
        </optgroup>

        <optgroup label="Tagging">
          <option>Unpublished</option>
          <option>Tagged/Unsubmitted-Tagger #1</option>
          <option>Tagged/Unsubmitted-Tagger #2</option>
          <option>Unpublished and Untagged-Tagger #1</option>
          <option>Unpublishe and Untagged-Tagger #2</option>
          <option>Hidden</option>
          <option>Published</option>
        </optgroup>

        <optgroup label="Tagging With">
          <option>PriorityPix</option>
          <option>Sensitive</option>
          <option>Misc_Unknown</option>
          <option>Background</option>
          <option>Crew</option>
          <option>Raini Rodriguez</option>
        </optgroup>

        <optgroup label="Excusive">
          <option>All exclusive</option>
        </optgroup>
      </select>
    </div>
   