<div class="login_div">
    <div class="col-sm-4  loginform_container_section">
      <div class="page-header">
        <h1>
          {{ 'login.title' | translate }}
        </h1>
  
      </div>
  
      <div class="login_data">
        <list-errors [errors]="errors"></list-errors>
  
  
  
        <form [formGroup]="authForm" (ngSubmit)="submitForm()">
          <fieldset [disabled]="isSubmitting">
            <fieldset class="form-group">
              <input class="form-control" formControlName="username" type="text" name="username" placeholder="{{ 'login.username' | translate }}"
              />
            </fieldset>
            <fieldset class="form-group">
              <input formControlName="password" class="form-control" type="password" name="password" placeholder="{{ 'login.password' | translate }}"
              />
            </fieldset>
            <div class="checkbox">
              <label>
                <input type="checkbox" /> {{ 'login.remember' | translate }}</label>
            </div>
  
            <button class="btn btn-danger btn-block" [disabled]="!authForm.valid" type="submit">
              {{ 'login.button.title' | translate }}
            </button>
          </fieldset>
        </form>
        <div class="contact-info">
          <p>
            {{ 'login.intro' | translate }}
          </p>
          <h6>
            <i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;&nbsp;Film Solutions, LLC ;</h6>
          <h6>
            <i class="fa fa-phone"></i>&nbsp;(818) 588 3500</h6>
          <h6>
            <i class="fa fa-at" aria-hidden="true"></i>&nbsp;info@filmsolutions.com</h6>
        </div>
  
        <select #langSelect (change)="translate.use(langSelect.value)">
            <option 
                *ngFor="let lang of translate.getLangs()" 
                [value]="lang" [selected]="lang === translate.currentLang">
                {{ lang }}
            </option>
          </select>
      </div>
    </div>
  </div>
  