<div class="galley-page-container">
	<div id="wrapper" class="db_com wrapper">
		<!-- Page Content -->
		<div id="page-content-wrapper">
			<div class="db_selcont db_com">
				<div class="bg-span"></div>
				<div class="container">
					<div class="db_selunder db_com">
						<h1>{{ 'dashboard.title' | translate }} </h1>
						<div class="col-sm-6 col-sm-offset-3 ">
							<div class="selectprojectform-container-section db_com db_scs">
								<form>
									<div class="db_frgroup">
										<select id="basic" class="selectpicker form-control" data-live-search="true" title="Select Project" (change)="onSelectCategory()">
											<option value="viewproject">FS_DEMO_EXEC</option>
										</select>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="db_container db_com rightside-gallerycontainer-panel">
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
							<div class="db_subdiv db_com">
								<div class="span8">
									<div class="db_com sub_head">
										<h2>{{ 'dashboard.myRecent' | translate }}</h2>
									</div>
									<div id="myCarousel2" class="carousel slide db_com db_carousel">
										<!-- Carousel items -->
										<div class="carousel-inner">
											<div class="item active">
												<div class="row-fluid db_com">
													<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
														<div class="span3">
															<a href="viewproject.html" class="thumbnail">
																<img src="http://fsapi.sarvaya.com/image/resize/udc0IK_8ygscvmViyhemb4TsOW0L69xBNFZ0ymgZ8BzeNrfhc_SFMlD4Snccwc1iRulE42REVNHdsOWMT84QR6KDjxKdWotxsPnTHOzix4YnbrbIAw3qsCbMjl5vahUS:300:300"
																 alt="Image" style="max-width:100%;" />
															</a>
															<div class="db_subtitle">
																<a>FS_DEMO_EXEC</a>
															</div>
														</div>
													</div>
													<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
														<div class="span3">
															<a href="viewproject.html" class="thumbnail">
																<img src="http://fsapi.sarvaya.com/image/resize/dJHjVesIGU9tqi6AFwaZDGVlFKfM8AiGtQhmpJuWF145okYc1zh64MBznvkraJTuHoqExk4QcnkxnlgOlxOmDyfClnEuQL6afVFyXPa3nJGB-fdwWKZp-2wT5gLmLZNV:300:300"
																 alt="Image" style="max-width:100%;" />
															</a>
															<div class="db_subtitle">
																<a>FS_DEMO_EXEC</a>
															</div>
														</div>
													</div>
													<!-- <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><div class="span3"><a href="viewproject.html" class="thumbnail"><img src="http://fsapi.sarvaya.com/image/resize/GmQez1X7cLhYFyCijcnopwYsDwI9-RAGgPfw5NE6mI12gjZjt6q4Mmn2qccAfF59_hx9eo3wV5qwRNbwQduJz4t5km54r2MRMUwVjlGtA6hR-_WQHFgdbe7xvwzwA-Al:300:300" alt="Image" style="max-width:100%;" /></a><div class="db_subtitle"><a>FS_DEMO_EXEC</a></div></div></div>
										  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><div class="span3"><a href="viewproject.html" class="thumbnail"><img src="http://fsapi.sarvaya.com/image/resize/FGA98R240cZwu9KCnj2Sq-UKnrvyGLKgRWAvBblXj03dUntWSwhbD3ZJ7j0i1F0tyIf7MzB7WfbAd4R5niMwiXL5F8u-6JSvj_CboY0B10TLQT4NwfoOF9ojZRrAZbfk:300:300" alt="Image" style="max-width:100%;" /></a><div class="db_subtitle"><a>FS_DEMO_EXEC</a></div></div></div> -->
												</div>
												<!--/row-fluid-->
											</div>
											<!--/item-->

											<div class="item">
												<div class="row-fluid db_com">
													<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
														<div class="span3">
															<a href="viewproject.html" class="thumbnail">
																<img src="http://fsapi.sarvaya.com/image/resize/udc0IK_8ygscvmViyhemb4TsOW0L69xBNFZ0ymgZ8BzeNrfhc_SFMlD4Snccwc1iRulE42REVNHdsOWMT84QR6KDjxKdWotxsPnTHOzix4YnbrbIAw3qsCbMjl5vahUS:300:300"
																 alt="Image" style="max-width:100%;" />
															</a>
															<div class="db_subtitle">
																<a>FS_DEMO_EXEC</a>
															</div>
														</div>
													</div>
													<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
														<div class="span3">
															<a href="viewproject.html" class="thumbnail">
																<img src="http://fsapi.sarvaya.com/image/resize/dJHjVesIGU9tqi6AFwaZDGVlFKfM8AiGtQhmpJuWF145okYc1zh64MBznvkraJTuHoqExk4QcnkxnlgOlxOmDyfClnEuQL6afVFyXPa3nJGB-fdwWKZp-2wT5gLmLZNV:300:300"
																 alt="Image" style="max-width:100%;" />
															</a>
															<div class="db_subtitle">
																<a>FS_DEMO_EXEC</a>
															</div>
														</div>
													</div>
													<!-- <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><div class="span3"><a href="viewproject.html" class="thumbnail"><img src="http://fsapi.sarvaya.com/image/resize/GmQez1X7cLhYFyCijcnopwYsDwI9-RAGgPfw5NE6mI12gjZjt6q4Mmn2qccAfF59_hx9eo3wV5qwRNbwQduJz4t5km54r2MRMUwVjlGtA6hR-_WQHFgdbe7xvwzwA-Al:300:300" alt="Image" style="max-width:100%;" /></a><div class="db_subtitle"><a>FS_DEMO_EXEC</a></div></div></div>
											<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><div class="span3"><a href="viewproject.html" class="thumbnail"><img src="http://fsapi.sarvaya.com/image/resize/FGA98R240cZwu9KCnj2Sq-UKnrvyGLKgRWAvBblXj03dUntWSwhbD3ZJ7j0i1F0tyIf7MzB7WfbAd4R5niMwiXL5F8u-6JSvj_CboY0B10TLQT4NwfoOF9ojZRrAZbfk:300:300" alt="Image" style="max-width:100%;" /></a><div class="db_subtitle"><a>FS_DEMO_EXEC</a></div></div></div> -->
												</div>
												<!--/row-fluid-->
											</div>
											<!--/item-->

											<div class="item">
												<div class="row-fluid db_com">
													<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
														<div class="span3">
															<a href="viewproject.html" class="thumbnail">
																<img src="http://fsapi.sarvaya.com/image/resize/udc0IK_8ygscvmViyhemb4TsOW0L69xBNFZ0ymgZ8BzeNrfhc_SFMlD4Snccwc1iRulE42REVNHdsOWMT84QR6KDjxKdWotxsPnTHOzix4YnbrbIAw3qsCbMjl5vahUS:300:300"
																 alt="Image" style="max-width:100%;" />
															</a>
															<div class="db_subtitle">
																<a>FS_DEMO_EXEC</a>
															</div>
														</div>
													</div>
													<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
														<div class="span3">
															<a href="viewproject.html" class="thumbnail">
																<img src="http://fsapi.sarvaya.com/image/resize/dJHjVesIGU9tqi6AFwaZDGVlFKfM8AiGtQhmpJuWF145okYc1zh64MBznvkraJTuHoqExk4QcnkxnlgOlxOmDyfClnEuQL6afVFyXPa3nJGB-fdwWKZp-2wT5gLmLZNV:300:300"
																 alt="Image" style="max-width:100%;" />
															</a>
															<div class="db_subtitle">
																<a>FS_DEMO_EXEC</a>
															</div>
														</div>
													</div>
													<!-- <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><div class="span3"><a href="viewproject.html" class="thumbnail"><img src="http://fsapi.sarvaya.com/image/resize/GmQez1X7cLhYFyCijcnopwYsDwI9-RAGgPfw5NE6mI12gjZjt6q4Mmn2qccAfF59_hx9eo3wV5qwRNbwQduJz4t5km54r2MRMUwVjlGtA6hR-_WQHFgdbe7xvwzwA-Al:300:300" alt="Image" style="max-width:100%;" /></a><div class="db_subtitle"><a>FS_DEMO_EXEC</a></div></div></div>
											<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><div class="span3"><a href="viewproject.html" class="thumbnail"><img src="http://fsapi.sarvaya.com/image/resize/FGA98R240cZwu9KCnj2Sq-UKnrvyGLKgRWAvBblXj03dUntWSwhbD3ZJ7j0i1F0tyIf7MzB7WfbAd4R5niMwiXL5F8u-6JSvj_CboY0B10TLQT4NwfoOF9ojZRrAZbfk:300:300" alt="Image" style="max-width:100%;" /></a><div class="db_subtitle"><a>FS_DEMO_EXEC</a></div></div></div> -->
												</div>
												<!--/row-fluid-->
											</div>
											<!--/item-->

										</div>
										<!--/carousel-inner-->

										<a class="left carousel-control" href="#myCarousel2" data-slide="prev">‹</a>
										<a class="right carousel-control" href="#myCarousel2" data-slide="next">›</a>
									</div>
									<!--/myCarousel-->

								</div>
							</div>
						</div>

						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
							<div class="db_subdiv db_com">
								<div class="db_com sub_head">
									<h2>{{ 'dashboard.favorites' | translate }}</h2>
								</div>
								<div id="myCarousel" class="carousel slide db_com db_carousel">
									<!-- Carousel items -->
									<div class="carousel-inner">

										<div class="item active">
											<div class="row-fluid db_com">
												<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
													<div class="span3">
														<a href="viewproject.html" class="thumbnail">
															<img src="http://fsapi.sarvaya.com/image/resize/udc0IK_8ygscvmViyhemb4TsOW0L69xBNFZ0ymgZ8BzeNrfhc_SFMlD4Snccwc1iRulE42REVNHdsOWMT84QR6KDjxKdWotxsPnTHOzix4YnbrbIAw3qsCbMjl5vahUS:300:300"
															 alt="Image" style="max-width:100%;" />
														</a>
														<div class="db_subtitle">
															<a>FS_DEMO_EXEC</a>
														</div>
													</div>
												</div>
												<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
													<div class="span3">
														<a href="viewproject.html" class="thumbnail">
															<img src="http://fsapi.sarvaya.com/image/resize/dJHjVesIGU9tqi6AFwaZDGVlFKfM8AiGtQhmpJuWF145okYc1zh64MBznvkraJTuHoqExk4QcnkxnlgOlxOmDyfClnEuQL6afVFyXPa3nJGB-fdwWKZp-2wT5gLmLZNV:300:300"
															 alt="Image" style="max-width:100%;" />
														</a>
														<div class="db_subtitle">
															<a>FS_DEMO_EXEC</a>
														</div>
													</div>
												</div>
												<!-- <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><div class="span3"><a href="viewproject.html" class="thumbnail"><img src="http://fsapi.sarvaya.com/image/resize/GmQez1X7cLhYFyCijcnopwYsDwI9-RAGgPfw5NE6mI12gjZjt6q4Mmn2qccAfF59_hx9eo3wV5qwRNbwQduJz4t5km54r2MRMUwVjlGtA6hR-_WQHFgdbe7xvwzwA-Al:300:300" alt="Image" style="max-width:100%;" /></a><div class="db_subtitle"><a>FS_DEMO_EXEC</a></div></div></div>
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><div class="span3"><a href="viewproject.html" class="thumbnail"><img src="http://fsapi.sarvaya.com/image/resize/FGA98R240cZwu9KCnj2Sq-UKnrvyGLKgRWAvBblXj03dUntWSwhbD3ZJ7j0i1F0tyIf7MzB7WfbAd4R5niMwiXL5F8u-6JSvj_CboY0B10TLQT4NwfoOF9ojZRrAZbfk:300:300" alt="Image" style="max-width:100%;" /></a><div class="db_subtitle"><a>FS_DEMO_EXEC</a></div></div></div> -->
											</div>
											<!--/row-fluid-->
										</div>
										<!--/item-->

										<div class="item">
											<div class="row-fluid db_com">
												<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
													<div class="span3">
														<a href="viewproject.html" class="thumbnail">
															<img src="http://fsapi.sarvaya.com/image/resize/udc0IK_8ygscvmViyhemb4TsOW0L69xBNFZ0ymgZ8BzeNrfhc_SFMlD4Snccwc1iRulE42REVNHdsOWMT84QR6KDjxKdWotxsPnTHOzix4YnbrbIAw3qsCbMjl5vahUS:300:300"
															 alt="Image" style="max-width:100%;" />
														</a>
														<div class="db_subtitle">
															<a>FS_DEMO_EXEC</a>
														</div>
													</div>
												</div>
												<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
													<div class="span3">
														<a href="viewproject.html" class="thumbnail">
															<img src="http://fsapi.sarvaya.com/image/resize/dJHjVesIGU9tqi6AFwaZDGVlFKfM8AiGtQhmpJuWF145okYc1zh64MBznvkraJTuHoqExk4QcnkxnlgOlxOmDyfClnEuQL6afVFyXPa3nJGB-fdwWKZp-2wT5gLmLZNV:300:300"
															 alt="Image" style="max-width:100%;" />
														</a>
														<div class="db_subtitle">
															<a>FS_DEMO_EXEC</a>
														</div>
													</div>
												</div>
												<!-- <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><div class="span3"><a href="viewproject.html" class="thumbnail"><img src="http://fsapi.sarvaya.com/image/resize/GmQez1X7cLhYFyCijcnopwYsDwI9-RAGgPfw5NE6mI12gjZjt6q4Mmn2qccAfF59_hx9eo3wV5qwRNbwQduJz4t5km54r2MRMUwVjlGtA6hR-_WQHFgdbe7xvwzwA-Al:300:300" alt="Image" style="max-width:100%;" /></a><div class="db_subtitle"><a>FS_DEMO_EXEC</a></div></div></div>
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><div class="span3"><a href="viewproject.html" class="thumbnail"><img src="http://fsapi.sarvaya.com/image/resize/FGA98R240cZwu9KCnj2Sq-UKnrvyGLKgRWAvBblXj03dUntWSwhbD3ZJ7j0i1F0tyIf7MzB7WfbAd4R5niMwiXL5F8u-6JSvj_CboY0B10TLQT4NwfoOF9ojZRrAZbfk:300:300" alt="Image" style="max-width:100%;" /></a><div class="db_subtitle"><a>FS_DEMO_EXEC</a></div></div></div> -->
											</div>
											<!--/row-fluid-->
										</div>
										<!--/item-->

										<div class="item">
											<div class="row-fluid db_com">
												<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
													<div class="span3">
														<a href="viewproject.html" class="thumbnail">
															<img src="http://fsapi.sarvaya.com/image/resize/udc0IK_8ygscvmViyhemb4TsOW0L69xBNFZ0ymgZ8BzeNrfhc_SFMlD4Snccwc1iRulE42REVNHdsOWMT84QR6KDjxKdWotxsPnTHOzix4YnbrbIAw3qsCbMjl5vahUS:300:300"
															 alt="Image" style="max-width:100%;" />
														</a>
														<div class="db_subtitle">
															<a>FS_DEMO_EXEC</a>
														</div>
													</div>
												</div>
												<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
													<div class="span3">
														<a href="viewproject.html" class="thumbnail">
															<img src="http://fsapi.sarvaya.com/image/resize/dJHjVesIGU9tqi6AFwaZDGVlFKfM8AiGtQhmpJuWF145okYc1zh64MBznvkraJTuHoqExk4QcnkxnlgOlxOmDyfClnEuQL6afVFyXPa3nJGB-fdwWKZp-2wT5gLmLZNV:300:300"
															 alt="Image" style="max-width:100%;" />
														</a>
														<div class="db_subtitle">
															<a>FS_DEMO_EXEC</a>
														</div>
													</div>
												</div>
												<!-- <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><div class="span3"><a href="viewproject.html" class="thumbnail"><img src="http://fsapi.sarvaya.com/image/resize/GmQez1X7cLhYFyCijcnopwYsDwI9-RAGgPfw5NE6mI12gjZjt6q4Mmn2qccAfF59_hx9eo3wV5qwRNbwQduJz4t5km54r2MRMUwVjlGtA6hR-_WQHFgdbe7xvwzwA-Al:300:300" alt="Image" style="max-width:100%;" /></a><div class="db_subtitle"><a>FS_DEMO_EXEC</a></div></div></div>
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><div class="span3"><a href="viewproject.html" class="thumbnail"><img src="http://fsapi.sarvaya.com/image/resize/FGA98R240cZwu9KCnj2Sq-UKnrvyGLKgRWAvBblXj03dUntWSwhbD3ZJ7j0i1F0tyIf7MzB7WfbAd4R5niMwiXL5F8u-6JSvj_CboY0B10TLQT4NwfoOF9ojZRrAZbfk:300:300" alt="Image" style="max-width:100%;" /></a><div class="db_subtitle"><a>FS_DEMO_EXEC</a></div></div></div> -->
											</div>
											<!--/row-fluid-->
										</div>
										<!--/item-->

									</div>
									<!--/carousel-inner-->

									<a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
									<a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
								</div>
								<!--/myCarousel-->

							</div>
						</div>

					</div>
				</div>

			</div>
			<!-- /#page-content-wrapper -->

		</div>
		<!-- /#wrapper -->



	</div>
</div>