
  
          <h1>Project Info</h1>
          <div class="db_com info_div">
            <div class="info-up indigo lighten-1"></div>
            <div class="info_avatar">
              <img src="./assets/images/agents_of_shield.png" class="rounded-circle">
            </div>
            <div class="info-body">
              <h4 class="info-title">Photo : 102</h4>
              <hr>
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                  <p>
                    <i class="fa fa-camera" aria-hidden="true"></i>
                    <span>Bob D'Amico</span>
                  </p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                  <p>
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                    <span>03/17/2017</span>
                  </p>
                </div>
              </div>
            </div>
          </div>
       
      